---
---

@import "reset";
@import "config";

@import url(son-of-obsidian.css);

::-moz-selection { background: $color-hire-blue;}
::selection { background: $color-hire-blue; }

body {
	color: $color-black;
	background: $background;
	font-family: 'Inconsolata', ;
	font-size: 100%;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1 {
	font-size: 1.4em;
	margin-bottom: 5px;
	font-size: 1.4em;
	font-weight: 700;
	margin-bottom: 10px;
}
p {
	font-size: 1em;
	line-height: 1.8;
}
a {
  color: $color-link;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0 4px;
  margin-right: -4px;
  margin-left: -4px;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	color: $color-link;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 2px solid $color-link;
    background-color: $color-hire-blue;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	padding-top: 5px;
	li {
		padding: 5px;
		padding-left: 10px;
		line-height: 1.8;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}

hr {
    border: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid $color-grey;
}

table {
    width: 100%;
    overflow: auto;
	margin-bottom: 15px;
}

table th {
    font-weight: 600
}

table th, table td {
    padding: 10px 13px;
    border: 1px solid #dfe2e5;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.wrapper {
	max-width: 600px;
	margin: 20px auto;
	padding: 0px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}

.header {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: $br) {
		display: block;
	}
	h1 {
		font-size: 2em;
		margin-bottom: 0;
		a {
			color: $color-black;
			font-weight: normal;
			&:visited{
				color: $color-black;
			}
			&:hover {
				text-decoration: none;
				background: none;
				color: $color-link;
				border: none;
			}
		}
	}

	ul {
		padding-top: 0px;
		li {
			display: inline;
			padding: 0;
			padding-left: 10px;
		}
	}
}

.blog-list {
	@media screen and (max-width: $br) {
		padding: 10px 20px;
	}
}

.post {
	margin-top: -160px;
	padding: 20px 30px;
	min-height: 200px;
	position: relative;
	z-index: 2;
	background-color: $background;
	@media screen and (max-width: $br) {
		padding: 10px;
	}
	&>h1, &>p{
		@media screen and (max-width: $br) {
			padding: 20px;
		}
	}
	&__date {
		text-align: center;
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 6px;
		text-align: center;
		h1 {
			display: inline-block;
			font-size: 1.9em;
			font-weight: 700;
			padding-right: 10px;
			padding-bottom: 2px;
			text-decoration: none;
		}
	}
	&__content {
		padding-top: 10px;
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 1.8;
			margin-bottom: 15px;
			text-align: justify;
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
            border: 1px solid $border-grey;
		}
		.highlight {
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				background: none;
                border: none;
				word-break: break-word;
			}
		}
		blockquote {
			color: $color-dark-grey;
			text-align: center;
			border-left: 4px solid $color-grey;
			p {
				padding: 10px;
			}
		}
	}
}

#canvas {
	position: relative;
    z-index: 1;
}

.anchorjs-link {
	&:hover {
		border: none;
		background: none;
	}
}

.blog-list {
	a {
		line-height: 1.8;
	}
}

.share {
    margin: 10px 0;

    ul {
        list-style: none;
		text-align: center;
        li {
            display: inline;
			padding-left: 0;
            a {
                &:hover {
                    text-decoration: none;
					border: none;
					background: none;
					svg {
						fill: $color-link;
					}
                }

                svg {
                    width: 25px;
                    height: 25px;
                    fill: $color-grey;
                }
            }
        }
    }
}
