<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="refresh" content="0; URL='https://joaorafaelm.github.io/notebook/'" />
    <style>
        *{color:#555;line-height:1.7;margin:10px auto 20px auto;max-width:36em;overflow-wrap:break-word;text-underline-position:under}
        body p{text-align:justify}
        html{padding:0 10px}
        ul{padding:0 1em}
        hr{border-style:solid}
        pre{max-width:100%;background:#fbfbfb;padding:5px}
        .s,.s2{font-style:italic}
        .c,.c1,.p,.o{color:#bbb}
        .kn,.k,.nl{font-weight:bold}
    </style>
</head>
<body>
    <header align="right">
        <a href="/"><strong>Posts</strong></a>
        <a href="/me"><strong>About</strong></a>
    </header>
    <hr/>
    {{ content | extlinks }}
</body>
</html>
